.physical__list-item {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 500px;
  height: 800px;
  box-shadow: 0px 10px 10px 10px #898888;
  box-sizing: border-box;
  border: 3px solid #000;
  background-color: #000;
  gap: 3px;
}

.physical__list-item .img__box .gif-img {
  padding: 1px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-sizing: border-box;
}

.physical__list-item .des__box {
  background-color: #000;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.physical__list-item .des__box .img__description {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
}

.physical__list-item .des__box .img__description.span {
  grid-column: span 2;
}
