.select__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #083e58;
  color: #fff;
}

.select__menu .h2__title {
  font-size: 30px;
  padding-top: 14px;
}

.ages {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.ages .physical__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  transition-delay: 1s;
}

.ages .physical__list .common {
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
}

.ages .physical__list .common:hover {
  color: #d9ff00;
}

.ages .physical__list .common:first-child {
  margin-top: 15px;
}

.ages:first-child {
  margin-top: 50px;
}

.custom-div {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.div-8 {
  background-color: #f0ecfc;
  background-image: #4e42f0;
  line-height: 42px;
  padding: 0;
  border: none;
  color: #000;
}

.div-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.div-8 span:hover {
  color: #c797eb;
}

.div-8 span:before,
.div-8 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}

.div-8 span:before {
  width: 2px;
  height: 0%;
}

.div-8 span:after {
  height: 2px;
  width: 0%;
}

.div-8 span:hover:before {
  height: 100%;
}

.div-8 span:hover:after {
  width: 100%;
}

.div-8:before,
.div-8:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}

.div-8:before {
  height: 0%;
  width: 2px;
}

.div-8:after {
  width: 0%;
  height: 2px;
}

.div-8:hover:before {
  height: 100%;
}

.div-8:hover:after {
  width: 100%;
}

.div-8:hover {
  color: #fff;
  background: transparent;
}
